<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>BBS | ユーザ登録</title>
</head>
<body>
<form th:action="@{/user/regist}" method="post">
<p><label for="">ユーザID：</label><input type="text" name="userId"></p>
<p><label for="">表示名：</label><input type="text" name="displaynm"></p>
<p><label for="">パスワード：</label><input type="text" name="password"></p>
<p><label for="">パスワード（確認）：</label><input type="text" name="rePassword"></p>
<p><input type="submit" value="登録"><input type="reset"></p>
</form>
</body>
</html>