<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>BBS | ユーザ登録</title>
</head>
<body>
<form th:action="@{/user/regist}" method="post" th:object="${userForm}">
<p><label for="">ユーザID：</label><input type="text" th:field="*{userId}"><span th:errors=*{userId}></span></p>
<p><label for="">表示名：</label><input type="text" th:field="*{displayNm}"><span th:errors=*{displayNm}></span></p>
<p><label for="">パスワード：</label><input type="password" th:field="*{password}"><span th:errors=*{password}></span></p>
<p><label for="">パスワード（確認）：</label><input type="password" th:field="*{rePassword}"><span th:errors=*{rePassword}></span></p>
<p><input type="submit" value="登録"><input type="reset"></p>
</form>
</body>
</html>